body{
    background-image: url("bg.jpg");
    background-size: cover;
}

h1 {
    color: rgb(24, 8, 2);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    background-color: beige;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

h4{
    color: rgb(24, 8, 2);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

input {
    color: rgb(32, 25, 22);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
}

button{
    margin-top: 15px;
    background-color: rgb(165, 89, 42);
    border-color: black;
    color: beige;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: larger;
}

button:hover{
    background-color: brown;
    color: beige;
}

button:active{
    background-color: rgb(43, 7, 7);
    color: beige;
}