body{
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: monospace;
}

h1 {
    color: rgb(24, 8, 2);
    text-align: center;
    font-size: 50px;
}

div {
    background-color: lightgrey;
    border: solid 5px darkslategrey;
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

}

h4{
    color: rgb(2, 8, 24);
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}

input {
    color: rgb(28, 22, 32);
    text-align: left;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(58, 55, 70);
    border-color: black;
    color: beige;
    height: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: larger;
    border-radius: 25px;
}

button:hover{
    background-color: rgb(39, 29, 48);
    color: beige;
}

button:active{
    background-color: rgb(8, 8, 21);
    color: beige;
}